<left-nav>
  <ul class="uk-nav uk-active">
    <li>
      <a href={{ url( 'page-home') }}>Home</a>
    </li>
    <li>
      <a href={{ url( 'page-welcome one:1, two:2') }}>Welcome</a>
    </li>
    <li>
      <a href={{ url( 'page-login') }}>Login</a>
    </li>
    <li>
      <a href={{ url( 'non-existant-page') }}>Non-existant page</a>
    </li>

  </ul>
  <locale></locale>
  <script>
    var self = this

    var eventBus = riot.mixin('eventBus')
    var logger = riot.mixin('logger')
    var pager = riot.mixin('pager')
    var router = riot.mixin('router')
    var _ = riot.mixin('globalizer')

    self.url = router.urlFor

  </script>

</left-nav>
