<page-home>
  <h1>{{_('Home')}}</h1>
  <ul class="uk-list uk-list-striped">
    <li>
      <a onclick={{leftnav}}>left nav layout</a>
    </li>
    <li>
      <a onclick={{full}}>full layout</a>
    </li>
  </ul>
  <form class="uk-form">
    <input name="amount" type="text" value="100.00"></input>
    <input class="uk-button" type="button" value={{_('Go')}}></input>
  </form>
  <script>
    var self = this
    var appConfig = riot.mixin('appConfig')
    var eventBus = riot.mixin('eventBus')
    var logger = riot.mixin('logger')
    var pager = riot.mixin('pager')
    var router = riot.mixin('router')
    var auth = riot.mixin('auth')
    var layouts = riot.mixin('layouts')
    var _ = self._ = riot.mixin('globalizer').underbar()

    leftnav(e) {
      layouts.showLayout('layout-leftnav')
    }

    full(e) {
      layouts.showLayout('layout-full')
    }

    self.on("before-mount", function() {
      logger.trace("page-home: before-mount")
    })

    self.on("mount", function() {
      logger.trace("page-home: mount")
    })

    self.on("before-unmount", function() {
      logger.trace("page-home: before-unmount")
    })

    self.on("unmount", function() {
      logger.trace("page-home: unmount")
    })

    self.on("update", function() {
      this.amount.value = _.number(105.934834934)
      this.amount.value = _.eur(105.934834934)
      this.amount.value = _('like', 3)
      //this.amount.value = _.like(3)
      //this.amount.value = _.m('like')(3)
      logger.trace("page-home: update")
    })

    self.on("updated", function() {
      logger.trace("page-home: updated")
    })
  </script>
</page-home>
